@using Application.ViewModels;
@model List<Application.ViewModels.PokemonViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div id="home" class="col-10 mx-auto d-flex align-items-center gap-5 text-center my-3">
        <div class="mx-2">
            <h1 class="display-4">Pokedex</h1>
        </div>
        <form class="d-flex mx-2 col justify-content-end w-100 gap-3" method="post" asp-controller="Home" asp-action="Index">
            <div>
                <input class="form-control form-control" type="text" placeholder="Buscar Por Nombre" name="Name">
            </div>
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
        </form>
        <form class="d-flex mx-2 col justify-content-end w-100 gap-3" method="post" asp-controller="Home" asp-action="Index">
            <div>
                <select style="cursor: pointer;" class="form-select" name="IdRegion">
                    <option value="null">Filtrar por Regiones</option>
                    @foreach (RegionViewModel item in ViewBag.Regions)
                    {
                        <option value="@item.IdRegion">@item.NameRegion</option>
                    }
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="d-flex justify-content-around  flex-wrap">
        @if (Model == null || Model.Count == 0)
        {
            <h2 class="text-center fw-bold">No hay pokemones</h2>
        }
        else
        {
            @foreach (Application.ViewModels.PokemonViewModel item in Model)
            {
                <div class="card col-4 m-3" style="width: 18rem;">
                    <img style="height: 260px" src=@item.ImageUrl class="bd-placeholder-img card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-text text-center pb-3">@item.Name</h3>
                        <div class="card-footer">
                            <div class="d-flex flex-column">
                                <h5>Region: <span class="fw-light">@item.Region</span></h5>
                                <h6>Tipo Primario: <span class="fw-light">@item.PrimaryType</span></h6>
                                <h6>Tipo Secundario: <span class="fw-light">@item.SecondaryType</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
